@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutSignIn.cshtml";
}
@section styles {
    <style type="text/css">
        #formRegisterWrapper {
            width: 400px;
            margin: 30px auto;
        }

        #formRegister {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }
    </style>
}

@section scripts {
    <script>
        var pageUnloading = false;
        var genericErrorMessage = 'An error has occurred. Please try again shortly, and if it persists, notify your System Administrator.';

        $(window).bind('beforeunload', function () {
            pageUnloading = true;
        });

        (function () {
            $(document).on("click", '#buttonRegister', function (event) {
                formRegister_OnRegister();
            });

            $(document).ajaxSend(function (event, jqxhr, settings) {
                if (settings.type.toUpperCase() == "GET" || settings.type.toUpperCase() == "HEAD" || settings.type.toUpperCase() == "OPTIONS" || settings.type.toUpperCase() == "TRACE") return;
                @* The ASP.NET part below will generate a cookie with a token value and the JavaScript part will send this token value in HTTP header. Controllers with [AutoValidateAntiforgeryToken] decoration will compare the value in the cookie and header. *@
                jqxhr.setRequestHeader('RequestVerificationToken', '@(Xsrf.GetAndStoreTokens(Context).RequestToken)');
            });

            $(document).on('change', '#checkBoxShowPassword', function () {
                if (this.checked) {
                    $('#textBoxPassword').attr('type', 'input');
                } else {
                    $('#textBoxPassword').attr('type', 'password');
                }
            });
        })();

        $(window).on('load', function (e) {
            //$('[data-toggle="tooltip"]').tooltip();

            $('#textBoxUsername').keypress(function (event) {
                if (event.which == 13) {
                    formRegister_OnRegister();
                    return false;
                }
            });

            $('#textBoxPassword').keypress(function (event) {
                if (event.which == 13) {
                    formRegister_OnRegister();
                    return false;
                }
            });
        })

        function formRegister_OnRegister() {
            let firstName = $('#textBoxFirstName').val().trim();
            let lastName = $('#textBoxLastName').val().trim();
            let username = $('#textBoxUsername').val().trim();
            let password = $('#textBoxPassword').val().trim();
            let newUser = { firstName: firstName, lastName: lastName, username: username, password: password };

            register(newUser);
        }

        function register(newUser) {
            $('#buttonSignIn').attr('disabled', true);
            $.ajax({
                url: '@Url.Action("Register", "SignIn")',
                data: JSON.stringify(newUser),
                type: 'POST',
                crossDomain: true,
                dataType: 'text',
                cache: false,
                contentType: "application/json",
                success: function (data) {
                    let credentials = { username: newUser.username, password: newUser.password, isPersistent : false };
                    signInWithCredentials(credentials);
                },
                complete: function (jqXHR, textStatus) {
                    $('#buttonSignIn').removeAttr("disabled");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (pageUnloading || jqXHR.statusText == "abort") {
                        return;
                    }
                    if (jqXHR.status === 400) {
                        $('#formRegisterMessage').text(jqXHR.responseText);
                        $('#formRegisterMessage').show();
                    } else {
                        alert('Error sending data: ' + errorThrown);
                    }
                }
            });
        }

        function signInWithCredentials(credentials) {
            $.ajax({
                url: '@Url.Action("SignInWithCredentials", "SignIn")',
                data: JSON.stringify(credentials),
                type: 'POST',
                crossDomain: true,
                dataType: 'text',
                cache: false,
                contentType: "application/json",
                success: function (data) {
                    window.location.href = '@Url.Action("Index", "Home")';
                },
                complete: function (jqXHR, textStatus) {

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    if (pageUnloading || jqXHR.statusText == "abort") {
                        return;
                    }
                    if (jqXHR.status === 400) {
                        $('#formRegisterMessage').text(jqXHR.responseText);
                        $('#formRegisterMessage').show();
                    } else {
                        alert('Error sending data: ' + errorThrown);
                    }
                }
            });
        }
    </script>
}

<div id="formRegisterWrapper">
    <form id="formRegister">
        <h2 class="text-center">Register</h2>
        <div id="formRegisterMessage" style="display: none" class="alert alert-danger" role="alert"></div>
        <div>
            <div class="mb-3">
                <label for="textBoxFirstName">First name</label>
                <input type="text" class="form-control" id="textBoxFirstName" autofocus="autofocus" />
            </div>
            <div class="mb-3">
                <label for="textBoxLastName">Last name</label>
                <input type="text" class="form-control" id="textBoxLastName" />
            </div>
            <div class="mb-3">
                <label for="textBoxUsername">Username</label>
                <input type="text" class="form-control" id="textBoxUsername" />
            </div>
            <div class="mb-3">
                <label for="textBoxPassword">Password</label>
                <input type="password" class="form-control" id="textBoxPassword" />
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="checkBoxShowPassword" />
                    <label class="form-check-label" for="checkBoxShowPassword">Show password</label>
                </div>
            </div>
            <div class="mb-3">
                <div id="passwordHelpBlock" class="form-text">
                    Passwords must be at least 12 characters in length containing both uppercase and lowercase letters.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" id="buttonRegister">Register</button>
                <a href="~/SignIn" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
</div>

